@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.search-btn{
	border-radius:50%;
	height:40px;
	width:40px;
	background:url('../images/search.png') no-repeat;
	border:1px #47a3da solid;
	background-position:center;
	cursor:pointer;
}


.search-form{
	margin-left:auto;
	width:230px;
	margin-top:-60px;
}

input[type = "text"]{
	height:30px;
	width:200px;
	color:#ffcb2d;
	font-family: 'Open Sans', sans-serif;
	text-indent:10px;
}

.button{
	width:30px;
	height:30px;
	border:1px #ccc solid;
}

.search-textbox{
	position:absolute;
	border-bottom: 4px #47a3da solid;
	border-top: 1px #2b4374 solid;
	border-left: 1px #2b4374 solid;
	background: #2b4374;
}

.circle{
	border-radius:50%;
	width:40px;
	height:40px;
	background-color:#47a3da;
	position:absolute;
	margin-left:185px;
	margin-top:-1px;
}

input:required {
    box-shadow:none;
}

#opener{
	width: 30px;
	margin-left: auto;
	display: block;
	margin-right: 40px;
	position: relative;
}

::-webkit-input-placeholder {
   color: #eed792;
   font-family: 'Open Sans', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #eed792;  
   font-family: 'Open Sans', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #eed792;  
   font-family: 'Open Sans', sans-serif;
}

:-ms-input-placeholder {  
   color: #eed792;  
   font-family: 'Open Sans', sans-serif;
}

