@charset "UTF-8";
 
@font-face {
  font-family: "Prabhki";
  src:url("Prabhki.eot");
  src:url("Prabhki.eot?#iefix") format("embedded-opentype"),
    url("Prabhki.ttf") format("truetype"),
    url("fonts/Prabhki.svg#Prabhki") format("svg"),
    url("fonts/Prabhki.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
 
